html {
    font-size: 100%;
    /* this honours any font-size settings set by users */
    font-family: arial, 'Ubuntu Mono', monospace;

}

header {
    background-color: hsl(97, 62%, 47%, 0.5);
    text-align: center;
}

h1  {
    background-color: hsl(97, 62%, 47%, 0.75);
    text-align: center;
}

body {
    font-size: large;
    /* font-size: 20px; practical typography recommended 15-25px for online reading */
    /* buuuut this is not accessibility friendly, better to use relative units */
    line-height: 1.3;
    /* note to self: set this up as default style?? */
    padding: 2% 10% 0%;
}

.centre__elem {
    display: block;
    margin: 2% auto;
}

img {
    max-width: 100%;
}

code {
    background-color: lightgrey;
    /* ??? is this okay? a11y-friendly? fugly? */
}
